{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <style>
    .print-button {
      margin-left: 1rem;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block header %}
  {{ super() }}
  <!-- <div id="search" class="md-search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: "#search",
        showSubResults: true
      });
    });
  </script> -->
  <a class="print-button" href="{{ page.url | replace('.html', '.pdf') }}" target="_blank" title="Версия для печати">
    🖨️
  </a>
{% endblock %}