{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <style>
    .print-button {
      margin-left: 1rem;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block header %}
  {{ super() }}
  <!-- <div id="search" class="md-search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: "#search",
        showSubResults: true
      });
    });
  </script> -->

        <!-- href="{{ page.url }}{{ page.file.name }}.pdf"
      href="{{ page.file.url | replace('.html', '.pdf') }}" -->

  {% if page %}
    {% if page.file %}
      <a class="print-button"
        href="{{ page.url }}{{ page.file.src_path | replace('.md', '.pdf') }}"
        target="_blank"
        title="Версия для печати">
        🖨️
      </a>
    {% endif %}
  {% endif %}

{% endblock %}