{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <style>
    .print-button {
      margin-left: 1rem;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% import "macros.html" as macros %}
{% block header %}
  {{ super() }}
  <!-- <div id="search" class="md-search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: "#search",
        showSubResults: true
      });
    });
  </script> -->
   {{ macros.print_pdf_button(page) }}
{% endblock %}